<div class="container">
    <div class="header">
            <h1>Facturas</h1>
            <button class="btn btn-primary" (click)="updateInvoices()">Actualizar Facturas</button>
    </div>

    <p *ngIf="!invoices"><em>Loading...</em></p>

    <div class="toast" role="alert" aria-live="assertive"
         aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto text-invoice">Facturas Actualizadas</strong>
        </div>
    </div>

    <div *ngIf="invoices" class="cards">
        <div *ngFor="let invoice of invoices">
            <invoice-card [invoice]="invoice"></invoice-card>
        </div>
    </div>
</div>
